<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Komponentteja</title>
  </head>
  <body>
    <div id="blog-posts-events-demo" class="demo">
      <div :style="{ fontSize: postFontSize + 'em'}">
        <blog-post
          v-for="post in posts"
          :key="post.id"
          :title="post.title"
          @enlarge-text="postFontSize += 0.1"
        ></blog-post>
      </div>
    </div>

    <div id="slots-demo" class="demo">
      <alert-box>Something bad happened.</alert-box>
    </div>

    <div id="dynamic-component-demo" class="demo">
      <button
        v-for="tab in tabs"
        v-bind:key="tab"
        v-bind:class="['tab-button', {
          active: currentTab === tab}]"
        v-on:click="currentTab = tab"
      >
        {{tab}}
      </button>
      <component v-bind:is="currentTabComponent" class="tab"></component>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
